* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #FF8000;
}

.wrapper {
    width: 100%;
    height: auto;
}

.title {
    text-align: center;
}

.lift {
    width: 100%;
    display: flex;
}

.liftOne {
    display: block;
}

.liftTwo {
    display: block;
    margin-left: auto;
}

.buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.buttonUp {
    height: 0;
    width: 0;
    border-bottom: 100px solid #000033;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    margin: 2rem;
}

.buttonUp:hover {
    transform: scale(1.15);
    transition-duration: 0.5s;
    border-bottom: 100px solid #f3ff00;
    cursor: pointer;
    
}

.buttonDown:hover {
    transform: scale(1.15);
    transition-duration: 0.5s;
    border-top: 100px solid #f3ff00;
    cursor: pointer;
}

.buttonDown {
    height: 0;
    width: 0;
    border-top: 100px solid #000033;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    margin: 2rem;
}

.display {
    height: 100px;
    width: 200px;
    background-color: #000;
    margin: 2rem;
    display: flex;
}

.floorNumberOne, .floorNumberTwo {
    display: block;
    color: #00f0ff;
    margin-left: auto;
    margin-right: 85px;
    font-size: 2.25rem;
    text-align: center;
}

.arrows {
    display: block;
}

.arrowUpOne, .arrowUpTwo {
    display: block;
    height: 0;
    width: 0;
    border-bottom: 30px solid #000033;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    margin-left: 1rem;
    margin-top: 1rem;
}

.arrowDownOne, .arrowDownTwo {
    display: block;
    height: 0;
    width: 0;
    border-top: 30px solid #000033;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    margin-left: 1rem;
    margin-top: 1rem;
}

.getIn {
    color: #000033;
    background-color: #00f0ff;
    width: 6rem;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px #000;
    margin-top: 3rem;
}

.getIn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.getInText {
    text-align: center;
    padding-top: 0.7rem;
}

.floorButtons {
    display: flex;
}

.floorButton {
    display: block;
    color: #000033;
    background-color: #00f0ff;
    width: 6rem;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px #000;   
    text-align: center;
    padding-top: 0.7rem;
    font-style: 700;
}

.floorButton:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.elevatorText {
    text-align: center;
    margin-top: 4rem;
}

.hidden {
    display: none;
}